h1{
    text-align: center;
    width: 100%;
}

.regbox{
    text-align: center;
    box-shadow: 2px 2px 6px 2px rgb(204, 207, 204);
    width: 50%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    
}

#submit{
    margin: 10px;
    margin-right: 50px;
}

#login{
    margin: 10px;
}